FRONTEND_PORT=80
NUXT_ENABLE_MOCK_AUTH=false
TZ=America/Sao_Paulo
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120

MYSQL_DATABASE=sistema_clinico_mvp
MYSQL_USER=clinico
MYSQL_PASSWORD=troque_essa_senha
MYSQL_ROOT_PASSWORD=troque_essa_senha_root

SECRET_KEY=troque_essa_secret_key
JWT_SECRET_KEY=troque_essa_jwt_secret_key

FIREBIRD_HOST=ip_ou_host_do_firebird
FIREBIRD_PORT=3050
FIREBIRD_DATABASE=/caminho/para/o/banco.fdb
FIREBIRD_USER=SYSDBA
FIREBIRD_PASSWORD=senha_firebird
FIREBIRD_CHARSET=WIN1252
