FRONTEND_PORT=3000
NUXT_ENABLE_MOCK_AUTH=false
TZ=America/Sao_Paulo
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120

MYSQL_DATABASE=sistema_clinico_mvp
MYSQL_USER=clinico
MYSQL_PASSWORD=troque_essa_senha
MYSQL_ROOT_PASSWORD=troque_essa_senha_root

SECRET_KEY=troque_essa_secret_key
JWT_SECRET_KEY=troque_essa_jwt_secret_key

JWT_ACCESS_TOKEN_EXPIRES_SECONDS=604800
NUXT_PUBLIC_AUTH_COOKIE_MAX_AGE_SECONDS=604800

FIREBIRD_HOST=ip_ou_host_do_firebird
FIREBIRD_PORT=3050
FIREBIRD_DATABASE=/caminho/para/o/banco.fdb
FIREBIRD_USER=SYSDBA
FIREBIRD_PASSWORD=senha_firebird
FIREBIRD_CHARSET=WIN1252

RATELIMIT_STORAGE_URI=redis://redis:6379/1
LOGIN_RATE_LIMIT_IP=10 per minute
LOGIN_RATE_LIMIT_EMAIL=5 per minute

SQLSERVER_HOST=ip_ou_host_sqlserver
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=master
SQLSERVER_USER=usuario_sqlserver_leitura
SQLSERVER_PASSWORD=senha_sqlserver
SQLSERVER_DRIVER="ODBC Driver 18 for SQL Server"
SQLSERVER_ENCRYPT=yes
SQLSERVER_TRUST_CERTIFICATE=yes
SQLSERVER_TIMEOUT=10
